fastapi==0.116.1
hypercorn==0.17.3
httpx[http2]==0.28.1
websockets==15.0.1
dnspython==2.7.0
pandas==2.3.1
pyarrow==21.0.0
numpy==2.3.2
scapy==2.6.1
zstandard==0.23.0
pytest==8.4.1
lightgbm==4.6.0
scikit-learn==1.7.1
joblib==1.5.1
shap==0.48.0
aioquic==1.2.0
grpcio==1.74.0
paho-mqtt==2.1.0
huggingface_hub[hf_xet]>=1.0.0
