[default]
elasticsearch=http://127.0.0.1:19200
prefix=office_arkime_
interface=none
pcapDir=/dev/shm/office-arkime-unused
pcapWriteMethod=null
parsersDir=@ARKIME_ROOT@/runtime/opt/arkime/parsers
pluginsDir=@ARKIME_ROOT@/runtime/opt/arkime/plugins
plugins=chad.so;entropy.so
rirFile=@ARKIME_ROOT@/runtime/opt/arkime/etc/ipv4-address-space.csv
ouiFile=@ARKIME_ROOT@/runtime/opt/arkime/etc/oui.txt
dropUser=labuser
dropGroup=labuser
packetThreads=1
maxPackets=10000
maxPacketsInQueue=10000
maxStreams=100000
maxMemPercentage=80
tcpTimeout=600
udpTimeout=300
tcpClosingTimeout=10
tcpSaveTimeout=400
parseHTTPHeaderRequestAll=true
parseHTTPHeaderResponseAll=true
parseSMTPHeaderAll=true
parseSMB=true
parseSMTP=true
parseCookieValue=true
parseQSValue=true
dnsOutputAnswers=true
parseDNSRecordAll=true
supportSha256=true
trackESP=true
espSavePackets=true
saveUnknownPackets=all;corrupt
logEveryXPackets=1000000
logFileCreation=true
dbBulkSize=4000000
dbFlushTimeout=1
compressES=true
rotateIndex=daily

[headers-http-request]
chad=type:string;count:true;
[headers-email]
chad=type:string;count:true;
